body {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
}

.container-fluid {
    width: 100%;
    overflow-y: hidden;
}

.container {
    width: 100%;
    /* padding-right: 10px; */
    /* padding-left: 10px; */
      margin-right: auto; 
      margin-left: auto; 
}

/* ------------------------------------------ Navbar*/

#nav-name {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    margin: 20px;
}

h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

p {
    padding-top: 20px;
}

img {
    height: 100px;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Reset button */

.btn-primary {
    margin-top: 20px;
}

#country-chart {
    margin-right: 20px;
}

.pie-title {
    text-align: center;
    padding-bottom: 20px;
}


.intro-text {
    padding-top: 40px;
}


/* ------------------------------------------ Responsive scrolling*/

.honor {
    width: 100%;
    overflow: scroll;
    padding-top: 70px;
}

.country {
    width: 100%;
    overflow: scroll;
    margin: 0;
}

.bar-category {
    width: 100%;
    overflow: scroll;
    padding-bottom: 50px;
}

/* ------------------------------------------ Chart styling*/

#honor-chart {
    padding-bottom: 50px;
}

/* ------------------------------------------ Table styling*/

.table-data {
    width: 100%;
    overflow: scroll;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
}


.navbar {
    background-color: #D62503;
}

.nav-item {
    color: white;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}


.box-cover {
    border: 20px solid #D62503;
    color: black;
    margin-top: 50px;
}

/*
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 160px;
}*/


.cover-title {
    font-size: 120px;
    font-family: serif;
    text-align: center;
    color: black;
}





.mover {
  width: 50px;
  height: 50px;
  background: #f06d06;
  border-radius: 50%;
  animation: move 3s infinite ease-in-out;
}

@keyframes move {
  20%, 100% {
    opacity: 0;
    transform: translate(200px, 0);
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

.area {
  width: 800px;
  height: 1000px;
  margin: 0 auto;
  border: 10px solid #D62503;
 /* border-radius: 50px; */
}


/* body {
  padding: 20px;
} */