@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,500,600,700|Exo:100,200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Exo:100,200,300,400,500');


body {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
}

.container-fluid {
    width: 100%;
    overflow-y: hidden;
}

.container {
    width: 100%;
    margin-right: auto; 
    margin-left: auto; 
}


/* ------------------------------------------------------------------------- Navbar*/


nav .navbar-brand {
    font-size: 30px;
    text-align: center;
    font-family: 'Merriweather';
    font-weight: 500;
   /* margin: auto; */
}

#nav-name {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    font-size: 36px;
}



/* ------------------------------------------------------------------------- Read Me! button W3Schools code */

button {
  background-color: #D62503;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 2px 2px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
} 

.button-instructions {
  background-color: #000; 
  color: white; 
  border: 2px solid #000;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 19px;
  font-weight: 500;
  padding: 8px 100px;
} 

#instructions-fade {
    display: none;
    color: black;
    background-color: #FFDAB9;
    margin-bottom: 30px;
    padding: 20px 30px;
    text-align: justify;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 22px;
}

/* ------------------------------------------------------------------------- Reset button from Tim Nelson (https://codepen.io/traveltimn/pen/MxxBMx) */

.btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 16px;
    font-family: 'Lato', sans-serif;
    float: right;
  /*  margin-right: 35%; */
}


#country-chart {
    margin-right: 20px;
    margin-top: 10px;
}


/* .pie-title {
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
    border: 0.5px solid gray;
    padding-top: 10px;
}*/

.intro-text {
    padding-top: 40px;
}

/* ------------------------------------------ Responsive scrolling*/

.honor {
    width: 100%;
    overflow: scroll;
    padding-top: 70px;
}

.country {
    width: 100%;
    overflow: scroll;
    margin: 0;
}

.bar-category {
    width: 100%;
    overflow: scroll;
    padding-bottom: 50px;
}

/* ------------------------------------------ Chart styling*/

#honor-chart {
    padding-bottom: 50px;
    margin-top: 10px;
}



.navbar {
    background-color: #D62503;
}

.nav-item {
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.intro-text-dash {
    text-align: justify;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.section {
    text-align: justify;
}

.box-cover {
    border: 20px solid #D62503;
    color: black;
    margin-top: 50px;
}


/* .center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 160px;
} */


.cover-title {
    font-size: 120px;
    font-family: serif;
    text-align: center;
    color: black;
}

/* Function style */




/* ------------------------------------------ Footer section */

footer {
    height: 100px;
    width: 100%;
    background-color: #D62503;
}


#year-selector {
    padding: 50px;
}


/* ------------------------------------------ jQuery Slide, W3Schools */


#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #fff;
  border: solid 2px #313030;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

#panel {
  padding: 40px;
  display: none;
  background-color: #313030;
  color: white;
  border-radius: 6px;
}

#flip {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 900;
}



#panel-1, #flip-1 {
  padding: 5px;
  text-align: center;
  background-color: #fff;
  border: solid 2px #313030;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

#panel-1 {
  padding: 40px;
  display: none;
  background-color: #313030;
  color: white;
  border-radius: 6px;
  text-align: justify;
}

#flip-1 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 900;
}




#panel-2, #flip-2 {
  padding: 5px;
  text-align: center;
  background-color: #fff;
  border: solid 2px #313030;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

#panel-2 {
  padding: 40px;
  display: none;
  background-color: #313030;
  color: white;
  border-radius: 6px;
  text-align: justify;
}

#flip-2 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 900;
}



#panel-3, #flip-3 {
  padding: 5px;
  text-align: center;
  background-color: #fff;
  border: solid 2px #313030;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

#panel-3 {
  padding: 40px;
  display: none;
  background-color: #313030;
  color: white;
  border-radius: 6px;
}

#flip-3 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 900;
}



#panel-4, #flip-4 {
  padding: 5px;
  text-align: center;
  background-color: #fff;
  border: solid 2px #313030;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

#panel-4 {
  padding: 40px;
  display: none;
  background-color: #313030;
  color: white;
  border-radius: 6px;
  text-align: justify;
}

#flip-4 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 900;
}



/* .img-fluid {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 480px;
    width: 380px;
}

.img-poy {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 550px;
    width: 800px;
} */

.title {
    text-align: center;
    font-weight: 500;
}




/* ------------------------------------------ Data Table */


.table-data {
    width: 100%;
    overflow: scroll;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
}

#dc-data-table {
    font-family: sans-serif;
}


#paging {
    font-size: 15px;
}

#prev {
    padding: 3px 15px;
    font-size: 15px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 5px;
}

#next {
    padding: 3px 15px;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 5px;
}


tr {
    color: black;
    text-align: center;
    font-size: 12px;
}


/* ------------------------------------------------------------------------ Unique content to Info Page */



#box {
    height: 700px;
    width: 346px;
    border: 1px solid #313030;
    background-color: #313030;
    color: white;
    padding: 20px;
    text-align: justify;
    margin-top: 30px;
    border-radius: 12px;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}

.fa-trophy {
    font-size: 50px;
    padding-left: 42%;
    padding-right: 25%;
    padding-top: 20px;
    padding-bottom: 25px;
}

.fa-award {
    font-size: 50px;
    padding-left: 42%;
    padding-right: 25%;
    padding-top: 20px;
    padding-bottom: 25px;
}

.fa-newspaper {
    font-size: 50px;
    padding-left: 42%;
    padding-right: 25%;
    padding-top: 20px;
    padding-bottom: 25px;
}

.video-title {
    font-size: 32px;
    margin-top: 40px;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}